body {
	background-color: #2096BA;
	padding-top: 50px;
	padding: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h1 {
	color: #333333;
	font-size: 4em;
}

p {
	/*color: #c5d2db;*/
	color: #ffffff;
	font-size: 1.5em;
}

em {
	color: #6cbf84
}

/* ------------------------------------------------------------ */
/* NAV */
.nav-bar {
	width: 100%;
	min-height: 40px;
}
/* NAV burger-menu  */
.nav-bar .burger-menu {
	position: absolute;
	z-index: 10;
	float: right;
	margin: 7px;
	cursor: pointer;
	width: 32px;
	height: 32px;
	right: 8px;
}
.nav-bar .burger-menu div {
	width: 100%;
	height: 5px;
	background-color: black;
	position: absolute;
}
.nav-bar .burger-menu div:first-child {
	margin-top: 4px;
}
.nav-bar .burger-menu div:nth-child(2) {
	margin-top: 13px;
}
.nav-bar .burger-menu div:last-child {
	margin-top: 22px;
}
/* TODO hamburger should have a transition for smoother ui: easy*/
.nav-bar.active .burger-menu div:first-child {
	margin-top: 4px;
	transform: rotate(45deg);
	margin-top: 50%;
}
.nav-bar.active .burger-menu div:nth-child(2) {
	opacity: 0
}
.nav-bar.active .burger-menu div:last-child {
	margin-top: 22px;
	transform: rotate(-45deg);
	margin-top: 50%;
}
/* TODO: menu should have a transition for smoother ui: easy */
/* TODO: when menu is active should not scroll to rest of the page: this one is a bit harder issue (intermediate?) */
.nav-bar .menu-items {
	width: 100vw;
	height: 100vh;
	/*  TODO: change background-color color to something better (maybe match the footer): easy*/
	background-color: green;
	transform: translateY(-100%);
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 46px;
}
.nav-bar.active .menu-items {
	transform: translateY(0);
}
/* TODO change color of title, something to go with the theme of the page or menu */
.nav-bar .menu-items .title {
	font-weight: 800;
	font-size: 2rem;
	letter-spacing: .1rem;
}

/* TODO: links should have different color for normal or hover: easy */
/* TODO: maybe have them be something different for hover for example different background-color for different ui or another example add a line and animate the line when hover a link (animate it making it shorter or longer when hover)*/
.nav-bar .menu-items .menu-link {
	font-size: 2rem;
	/* TODO each item should  have a bit more spacing between each one*/
}
/* ------------------------------------------------------------ */
/*FOOTER STUFF*/
.page-footer {
	background-color: silver;
}

.page-footer li a{
	text-decoration: none;
	color: white;
}

.page-footer li a:hover{
	text-decoration: none;
	color: #2096BA;
}

.footer-copyright {
	background-color: black;
	color: white;
}

/*MEDIA QUERIES*/

@media only screen and (max-device-width: 767px) {
      .mobile {
        display: block;
      }
      .none-mobile {
        display: none;
      }
			.nav-bar .burger-menu {
				position: absolute;
				z-index: 10;
				float: right;
				margin: 7px;
				cursor: pointer;
				width: 32px;
				height: 32px;
				display: block;
			}
    }

@media only screen and (min-device-width: 767px) {
	.mobile {
        display: none;
      }
      .none-mobile {
        display: block;
      }
}

/* NAVBAR for large screens */
@media (min-width: 992px) {
	.nav-bar .burger-menu {
		display: none;
	}
	.nav-bar.active .menu-items, .nav-bar .menu-items {
		flex-direction: row;
		transform: translateY(0);
		position: relative;
		width: auto;
		height: auto;
		padding: 5px 10px
	}
	.nav-bar .menu-items .title {
		font-size: 1.5rem;
	}
	/* TODO align and space the links to the right */
	.nav-bar .menu-items .menu-link {
		font-size: 1.25rem;
	}
}
